<!DOCTYPE html>
<html>
<head>
<!--
This presentation was created with "chowkaze" by Libriotech.
http://github.com/MagnusEnger/chowkaze/
-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  [% IF appletouchicon == 1 %]<link rel="apple-touch-icon" href="static/apple-touch-icon.png" />[% END %]
	<title>[% settings.title %]</title>
	
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
	<link rel="stylesheet" href="static/chowkaze.css" />
	
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>	
	<script>
	
function setPositions(){
    var winwidth = $( window ).width()

    if( winwidth >= 750 ){
        $('.content-secondary').css({'float':'left','width':'35%'});
        $('.content-primary').css({'margin-left':'36%'});
    }
    else{
        $('.content-secondary').css({'float':'none','width':'100%'});
        $('.content-primary').css({'margin-left':'0px'});
    }
}


$(function(){
    setDefaultTransition();
    $( window ).bind( "throttledresize", setPositions );
});

	
	</script>
</head> 
<body> 

[% FOREACH p IN pages %]
[% p %]
[% END %]

[% IF settings.toc == 1 %]
[% INCLUDE toc.tt %]
[% END %]

[% IF settings.piwik_use == 1 %]
<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://[% settings.piwik_baseurl %]/" : "http://[% settings.piwik_baseurl %]/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", [% settings.piwik_id %]);
piwikTracker.setDocumentTitle('[% settings.title %]');
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://stats.libriotech.no/piwik.php?idsite=4" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
[% END %]
</body>
</html>
